.marquee-infinite{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: calc(-82vw + 90%);
    z-index: 2;
}

.run_string {
    display: flex;
    flex-wrap: nowrap;
    width: 200vw;
    animation: marquee-text 20s linear infinite;
}

.run_string_item {
    flex-shrink: 0;
    margin-right: 50px;
}

@keyframes marquee-text{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}