/*@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}



.run_string {
    white-space: nowrap;
        overflow: hidden;
        width: 100%;
}

.run_string_item {
    display: inline-block;
    margin-right: 100px;
    animation: marquee 10s linear infinite;
}*/


.run_string {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.run_string_item {
    flex-shrink: 0;
}